*.ipynb
.vscode
.ipynb_checkpoints
counterfactual/udpipe_models
counterfactual/wiki40b-entropy
counterfactual/dep-len
counterfactual/__pycache__
evaluation/eval_results_ngram
evaluation/test
data/__pycache__
data/logs_thc
data/old_code
data/wiki40b-txt
data/wiki40b-txt-cf
data/wiki40b-txt-cf-deplens
data/wiki40b-txt-parsed
data/wiki40b-txt-s2s
data/wiki40b-txt-sampled